{% load static %}
{% load djxi %}

<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{% static "style.css" %}">
      {% htmx_script_inclusion %}
      <title>{% block title %}Djxi{% endblock %}</title>
  </head>
  <body {% htmx_headers %}>
    {% if messages %}
    <ul id="message-container" class="messages" style="list-style: none; float: right;">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
  </body>
</html>